<ng-template *ngIf="!data; else loaded">
    <p>Data not loaded yet!</p>
</ng-template>

<ng-template #loaded>
    <table mat-table [dataSource]="data.content" class="mat-elevation-z8">
        <ng-container *ngFor="let col of data.columns; let i = index">
            <ng-container matColumnDef="{{ col }}">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="data.columnSizes[i]">
                    {{ col }}
                </th>
            </ng-container>

            <ng-container *ngFor="let childCol of data.secondaryColumns[i]" matColumnDef="{{ childCol }}">
                <th mat-header-cell *matHeaderCellDef> {{ childCol }} </th>
                <td mat-cell *matCellDef="let element"> {{ element[childCol] | number:'1.0':'en-US' | notAvail }} </td>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="data.columns"></tr>
        <tr mat-header-row *matHeaderRowDef="data.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: data.displayedColumns;"></tr>
    </table>
</ng-template>